/* General Page Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: url('./assets/home-banner.png');
  /* background-repeat: no-repeat; */
}

.upper {
  height: 87vh;
}

.lower {
  height: 100vh;
}

nav {
  background: #007bff;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

h1, h2 {
  color: #0056b3;
}

h2 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

section {
  margin: 20px;
}

.service, .testimonial {
  margin-bottom: 20px;
}

.service img, .testimonial img, .about img, .doctor-details img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input, form textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

footer {
  background: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
}
